.articleCard {
  background: rgb(255, 255, 255);
  width: 500px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 20px;
  height: 225px;
  margin: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.articleCard:hover {
  background-color: rgb(216, 216, 216);
}

.articleTopic {
  margin-bottom: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

.articleData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  position: absolute;
  bottom: 10px;
  width: 90%;
}

.articleSummary {
  color: rgb(0, 0, 0);
  letter-spacing: 0.5px;
  font-size: 18px;
}

.articleCreatedAt {
  color: #0a15bd;
  margin-right: 40px;
}

.articleAuthor {
  color: #0a15bd;
}
