.articleCard {
  background: rgb(30, 52, 63);
  width: 500px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 20px;
  height: 225px;
  margin: 20px;
  position: relative;
}
.articleTopic {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261, #4ce01f);
  background-size: 100%;
  background-clip: initial;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 20px;
  font-size: 24px;
  cursor: pointer;
}
.articleData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  position: absolute;
  bottom: 10px;
  width: 90%;
}
.articleSummary {
  color: rgb(96, 196, 66);
  letter-spacing: 0.5px;
  font-size: 18px;
}
.articleCreatedAt {
  color: #f3ec78;
  margin-right: 40px;
}
.articleAuthor {
  color: #1fd0e0;
}
