.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav > ul > li {
  list-style: none;
  margin: 10px;
  font-size: 18px;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}
